<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel orci 
        luctus, consectetur leo ut, venenatis est. Vivamus convallis ex tortor, 
        vitae lacinia justo vestibulum quis. Etiam tincidunt orci vel accumsan 
        imperdiet. Nunc vulputate dui ante, non pellentesque massa tincidunt ac. 
        Ut dapibus, dui volutpat sagittis convallis, tellus elit laoreet neque, 
        vehicula sodales felis dolor vitae lacus. Duis commodo laoreet massa ut 
        molestie. Morbi a enim et purus cursus gravida ut ut quam. Nam massa velit, 
        vestibulum eu lobortis venenatis, luctus eu purus. Sed aliquet, diam eget 
        finibus vehicula, ipsum diam pulvinar enim, non condimentum felis ipsum 
        convallis nibh. Ut vitae scelerisque eros.
    </p>
</article>